* {
    box-sizing: border-box;
  }
  
  html {
    line-height: 200%;
    font-family:"Montserrat", Helvetica, Arial, sans-serif;
  }

nav{
  filter:drop-shadow(#1e1a33 0.1rem 0.1rem 0.5rem)
}
  .sticker-container{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding: auto;
    justify-content: space-between;
  }

  hgroup{
    text-align: right;
    width: 60%;
    padding-top: 2em;
   
  }

  .stickme {
    position: sticky;
    top: 3.5em;
    width: 40%;
    margin-right: 3em;
  }

  h1 {
    font-size: 7rem;
    margin: 0;
    line-height: 100%;
  }
  
  h2 {
    font-size: 2rem;
    
  }

article p{
  font-weight: 500;
}
 
  body{
    margin: 0;
  }

  #main-nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
  }

 #main-nav a:link{
    background-color: #26374a;
    padding: 1em;
    flex-grow: 1;
    transition: all 0.2s;
    color: #ffffff;
    text-decoration: none;
 }

 #main-nav a:visited{
    color: #c7c7c7;
 }

 #main-nav a:hover{
    background-color: #F5F5F5;
    flex-grow: 1.75;
    color: #26374a;
 }




img{
  display: block;
  max-width: 1500px;
  width: 100%;
  /* margin: auto; */
}

article img{
  width: 48.5%;
}

.ui-img{
  width:100%
}

.img-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.img-display img{
width: 48.5%;
margin-bottom: 20px;
}

.img-border{
  border: 5px solid #1e1a33
}

 footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background-color: #26374a;
  height: 5em;
 }